# app requirements
ascii
regex
packaging
python-dotenv<1.0.0
beautifulsoup4<5.0.0
requests<2.23.0
python-slugify<5.0.0
colorama<0.5.0
tqdm<5.0
js2py<1.0
ebooklib<1.0.0
Pillow==5.4.1
lxml<5.0.0
prompt-toolkit==1.0.15
html5lib<2.0
base58<3.0.0
python-box<7.0.0
pycryptodome<4.0.0
readability-lxml<1.0.0
